################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Cuda_OpenCL/v17
/.vs/VSWorkspaceState.json
/x64
