################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Cuda_OpenCL/v17
/.vs/VSWorkspaceState.json
/x64
/.vs/Cuda_OpenCL/FileContentIndex
/.vs/LearnCuda/FileContentIndex
/.vs
/LearnCuda/x64/Debug
/LearnOpenCL/x64/Debug
/LearnCuda/x64/Release
